body {
    position: relative;
}

#menu {
    background-color: black;
    min-height: 900px;
    color: white;
    position: static;
    height: 1000px;
}

#content {
    margin-top: 60px;
    margin-left: 50px;
}

#main-section {
    background: url("../images/exam.jpg") no-repeat;
    min-height: 672px;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.9);
    min-height: 672px;
    position: relative;
    width: 100%;
}

.main-frame {
    margin-top: 130px;
    padding: 30px;
}

.login {
    margin-top: 130px;
    background-color: rgba(0, 0, 0, 0.2);
    width: 430px;
    height: 470px;
}

.heading {
    color: #337AB7;
}

.cursor {
    cursor: pointer;
}

.btn-color {
    background-color: black;
    border-radius: 7px;
    color: white;
    padding: 15px;
    margin-top: 25px;
    font-size: 15px;
    width: 136px;
    margin-bottom: 50px;
}

.pos-edit {
    float: right;
    margin-top: -26px;
    margin-right: 82px;
}

.pos-delete {
    float: right;
    margin-top: -26px;
    margin-right: -127px;
}

.btn-save {
    background-color: green;
    color: white;
}

.btn-close {
    background-color: red;
    color: white;
}

.form-popup {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 25px;
    border: 3px solid #f1f1f1;
    z-index: 9;
    padding: 83px;
    background-color: white;
    height: 80%;

}

.form-control {
    width: 184px;
}

#form-btn {
    margin-left: 175px;
}

* {
    border-radius: 0 !important;
}


#api-form {
    display: none;
    position: absolute;
    border: solid #f1f1f1;
    border-width: 0 3px;
    z-index: 9;
    padding: 20px;
    background-color: white;
    height: 90%;
    width:800px;
    margin:30px auto 0;
    margin-left: -400px;
    margin-top: -10px;
    top: 10%;
    left: 60%;

}

#api-form input[type = "text"], input[type = "email"] {
    width: 200%;
}

#api-form select {
    width: 200%;
}


#api-update-form {
    display: none;
    position: absolute;
    border: solid #f1f1f1;
    border-width: 0 3px;
    z-index: 9;
    padding: 20px;
    background-color: white;
    height: 90%;
    width:800px;
    margin:30px auto 0;
    margin-left: -400px;
    margin-top: -10px;
    top: 10%;
    left: 60%;

}

#api-update-form input[type = "text"], input[type = "email"] {
    width: 200%;
}

#api-update-form select {
    width: 200%;
}

/* #apiForm {
    width: 60%;
    height: 90%;
    float: right;
    margin-top: 0px;
    
}



legend#newapi {
    padding-top: 0px;
    
}

th, td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 15px 50px 15px 50px;
        margin: 5px;
}

#addApi {
    margin-bottom: 15px;
}

.btnEffects {
    padding: 0px;
    margin: 1px;
    border: none;
} */